@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bad Script', cursive;
    min-height: 100vh;
    background: #111;
}

section#first {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section#first.hidden {
    opacity: 0;
    transition: .4s ease-out;
}

h2 {
    display: flex;
    font-size: 12vw;
    color: transparent;
}

h2 span {
    animation: animate 3s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        color: #fff;
        filter: blur(2px) hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff;
    }
    30%, 70% {
        color: #fff;
        filter: blur(2px) hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff;
    }
    100% {
        color: transparent;
        box-shadow: none;
        filter: blur(2px) hue-rotate(0deg);
    }
}


.bubbles {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
}

.bubbles span {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    background: #4fc3dc;
    box-shadow: 0 0 0 5px #4fc3dc44, 0 0 10px #4fc3dc, 0 0 25px #4fc3dc;
    animation: bubbles 10s linear infinite;
    animation-duration: calc(175s / var(--i));
}
.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 5px #ff2d7544, 0 0 10px #ff2d75, 0 0 25px #ff2d75;
}

@keyframes bubbles {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(0vh) scale(0.4);
    }
}